---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import img1 from "../components/authors/auth1.jpg";
import img2 from "../components/authors/auth2.png";
import img3 from "../components/authors/auth3.JPG";
import img4 from "../components/authors/auth4.jpg";

const authors = [
  {
    name: "Juan Sebastian Ortiz",
    role: "Análisis de Datos",
    avatar: img1,
    description: "Ningún dato es irrelevante.",
    linkedin:
      "https://www.linkedin.com/in/juan-sebasti%C3%A1n-ortiz-guerrero-782566186/",
  },
  {
    name: "Leandra Aguilar",
    role: "Politóloga",
    avatar: img2,
    description: "Datos democráticos, decisiones con propósito.",
  },
  {
    name: "Santiago Murgueitio ",
    role: "Data Scientist",
    avatar: img3,
    description:
      "Mi tarea es hacer que los datos hablen y cuenten historias que todos puedan entender.",
    github: "https://github.com/lapiceroazul4",
    linkedin: "https://www.linkedin.com/in/murgueitio",
  },
  {
    name: "Gregson Murcia",
    role: "Ingeniero Multimedia",
    avatar: img4,
    description: "Si se puede imaginar, se puede programar.",
    github: "https://github.com/GregoryInnovo",
    linkedin: "https://www.linkedin.com/in/gregson-murcia-castro-b527a31a6/",
  },
];
---

<Layout title="Autores" currentPage="authors">
  <main>
    <section class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Equipo
        </h2>
      </div>
      <div class="grid gap-8 mb-6 lg:mb-16 lg:grid-cols-2">
        {
          authors.map((author) => (
            <div class="flex items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-green-800 dark:border-gray-700">
              <a href="#">
                <Image
                  class="w-72 h-56 object-cover rounded-lg sm:rounded-none sm:rounded-l-lg"
                  src={author.avatar}
                  alt={`${author.name} Avatar`}
                />
              </a>
              <div class="px-4 py-0">
                <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="#">{author.name}</a>
                </h3>
                <span class="text-white">{author.role}</span>
                <p class="mt-3 mb-4 font-light text-white text-base">
                  {author.description}
                </p>
                <div class="flex mt-4 space-x-3">
                  {author.github && (
                    <a
                      href={author.github}
                      class="text-white hover:text-gray-200"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <Icon name="mdi:github" class="w-6 h-6" />
                    </a>
                  )}
                  {author.linkedin && (
                    <a
                      href={author.linkedin}
                      class="text-white hover:text-gray-200"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <Icon name="mdi:linkedin" class="w-6 h-6" />
                    </a>
                  )}
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
